doctype html
html
  head
    meta(charset='utf-8')
    title Comprovante de Inscrição
  body
    h1 Olá #{username},
    p Obrigado por se inscrever no evento #{eventname}.
    p Seu comprovante de inscrição está anexado a este email.
    p Se tiver alguma dúvida, por favor entre em contato conosco.
    p Atenciosamente,
    p A Equipe do Evento